.qodo



# virtual environment
venv/


# pycache
__pycache__/

# environment variables
.env


ssh-key
ssh-key.pub

logs/


test-engine.py

krodai.egg-info/

krodai-0.1.0.dist-info/

data/

notepad/

qdrant_storage/
qdrant_data/
qdrant_logs/
